.container-info {
    background-color: var(--secondary);
    border-radius: 16px;
    padding: 16px;
}

.subtotal {
    border-bottom: 1px solid var(--color-muted);
  }

  .msg {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    border-radius: 12px;

    .refuse{
        border: 2px solid var(--light-primary);
        padding: 0 6px;
        margin-right: 8px;
        border-radius: 50%;
        i {
            font-size: 0.6rem;
        }

    }
    p {
        font-weight: 500;
        font-size: 0.9rem;
    }
  }

.warning {
    display: flex;
    align-items: center;
    font-weight: 600;
    font-size: 0.85rem;
    color: white;
    padding: 8px;
    background-color: var(--light-primary);
    border-radius: 12px;

}