<main class="main">
    <section>
        <span class="color-custom">
            <small>Pedido para <strong>{{ selectedUnit }}</strong></small>
        </span>
    </section>

    @if (cartItems$ | async; as items) {

    @if (items.length === 0) {
    <app-no-item-cart></app-no-item-cart>
    } @else {
    <app-cart-items [data]="items" (increase)="cartService.increaseQuantity($event)"
        (decrease)="cartService.decreaseQuantity($event)" (clear)="cartService.clearCart()">
    </app-cart-items>
    <app-payment></app-payment>
    }
    } @else {
    <p>Carregando carrinho...</p>
    }
</main>