<main class="main">
    <section>
        <span class="color-custom">
            <small>Pedido para <strong>{{ (selectedUnit$ | async)?.name }}</strong></small>
        </span>
    </section>

    @if (cartItems$ | async; as items) {

    @if (items.length === 0) {
    <app-no-item-cart></app-no-item-cart>
    } @else {
    <app-cart-items [data]="items" (increase)="onIncrease($event, items)"
        (decrease)="onDecrease($event, items)" (clear)="onClear()">
    </app-cart-items>
    <app-payment [data]="items"></app-payment>
    }
    } @else {
    <p>Carregando carrinho...</p>
    }
</main>