.custom-button {
    background-color: var(--secondary);
    border: none;
    border-radius: 16px;
    padding: 6px 16px;
    font-size: 0.75rem;
    font-weight: 500;
    color: var(--color-text);
    cursor: pointer;
    transition: all 0.3s ease;
    &:hover {
        background-color: var(--color-primary);
        color: var(--secondary);
    }
}

.overflow {
    overflow-y: auto;
}

.active {
    background-color: var(--color-primary);
    color: var(--secondary);
}

.color-custom {
    font-size: 0.8rem;
}