:host {
  display: flex;
  flex-direction: column;
  margin: 0;
}

:host > main {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-height: 0;
}
.bg-success-green {
  border-radius: 16px;
  line-height: 1;

  i {
    color: var(--accent);
    font-size: 1rem;
  }

  p {
    font-weight: 600;
  }

  span {
    font-size: 0.7rem;
  }
}

.main {
  display: flex;
  flex-direction: column;
}

span {
  font-size: 0.6rem;
}

@media (min-width: 950px) {
  .main {
    display: flex;
    width: 100%;
    flex-direction: row;
  }

  .section {
    width: 60%;
  }

  .food-menu {
    width: 100%;
  }
}