:host {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
}

:host > main {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-height: 0;
}

.main {
  flex: 1;
  overflow-x: auto;
  padding: calc(16px + 82px) 24px 16px;
  padding-bottom: calc(16px + 4.75rem + env(safe-area-inset-bottom, 0px));
}

span {
  font-size: 0.6rem;
}
