.carousel-container {
  position: relative;
  max-width: 650px;
  height: 30vh;
  margin: 0 auto;
  padding: 0;
  overflow: hidden;
  border-radius: 8px;
}

.carousel-inner {
  position: relative;
  width: 100%;
  height: 100%;
}

.carousel-item {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.carousel-image {
  width: 100%;
  height: 30vh;
  object-fit: fill;
}

.carousel-caption {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  background: rgba(0, 0, 0, 0.6);
  color: #fff;
  padding: 10px 20px;
  border-radius: 4px;
  text-align: center;
  width: 80%;
}

.control-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  font-size: 24px;
  padding: 12px;
  cursor: pointer;
  z-index: 10;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background 0.3s;

  &:hover {
    background: rgba(0, 0, 0, 0.8);
  }

  &.prev {
    left: 15px;
  }
  &.next {
    right: 15px;
  }
}

.carousel-dots {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  gap: 10px;
  z-index: 10;
  pointer-events: auto;

  span {
    display: block;
    width: 10px;
    height: 10px;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    cursor: pointer;
    transition:
      width 0.3s ease-in-out,
      background-color 0.3s ease-in-out,
      transform 0.2s ease-in-out;

    transform: scale(0.9);

    &.active {
      width: 35px;
      background-color: #ffffff;
      transform: scale(1.1);
      opacity: 1;
    }
  }
}
