/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

body {
  font-family: 'Roboto', sans-serif;
}

i {
  font-size: 1.5rem;
}

.radius-24 {
  border-radius: 24px;
}
.radius-16 {
  border-radius: 16px;
}

/* cores */

:root {
  --color-primary: #ac3d33; /* Vermelho Terracota */
  --secondary: #ede6d9; /* Creme / Bege claro */
  --accent: #e3a668; /* Ouro envelhecido / Âmbar */
  --background: #faf8f2; /* Off-white quente */
  --foreground: #2a140c;
  --success: #326234; /* Verde escuro */
  --color-text: #3a322f; /* Marrom quase preto */
  --color-muted: #7d7266;
}

/* Cores de Texto */
.primary { color: var(--color-primary); }
.secondary { color: var(--secondary); }
.accent { color: var(--accent); }
.text-success { color: var(--success); }
.text-foreground { color: var(--foreground) }
.color-custom { color: var(--color-text); }
.color-muted { color: var(--color-muted); }

/* Cores de Fundo */
.bg-primary-red { background-color: var(--color-primary); }
.bg-secondary-bege { background-color: var(--secondary); }
.bg-background { background-color: var(--background); }
.bg-success-green { background-color: var(--success); }
.bg-foreground { background-color: var(--foreground); }
.bg-accent { background-color: var(--accent); }

/* Bordas e Raio */
.border-primary { border: 1px solid var(--color-primary); }
.rounded-main { border-radius: 0.875rem; }

button {
  background: none;
  border: none;
}