:host {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1030;
  width: 100%;
  box-sizing: border-box;
}

.nav-container {
  background-color: #e3bd8a;
}

.items {
  padding: 16px 16px;
}

.background {
  border-radius: 24px;
  padding: 8px 10px;
  border: none;
  background-color: var(--background);
}

.fa-arrow-left {
  font-size: 1rem;
}

.title-1 {
  color: #9e674a;
  line-height: 1;
}

.logo {
  width: 50px;
  height: 50px;
  cursor: pointer;
}

.logo-text {
  font-size: 1rem;
  line-height: 1.2;
  margin: 0;
}

.radius-8 {
  border-radius: 8px;
}

.buttons {
  display: flex;
  gap: 8px;
}

.buttons i {
  color: var(--secondary);
  font-size: 1rem;
}

button {
  background: none;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  color: inherit; /* Opcional: faz o texto assumir a cor do texto do container */
}

.loyalty {
  background-color: var(--color-primary);
  padding: 8px 10px;
  border-radius: 20px;
}

.notification {
  background-color: var(--foreground);
  padding: 8px 10px;
  border-radius: 20px;
}
